<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Noodles Express</title>
</head>

<body>
  <%- include('partials/_header') %>
    <div class="mainContainer m-5">
      <!-- Current Orders card -->
      <div class="currentOrderContainer d-flex flex-column m-5">
        <h2 class="currentOrderTitle w-100">Pending Orders</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Order #</th>
              <th scope="col">Order Time</th>
              <th scope="col">P/U Time</th>
              <th scope="col">Status</th>
              <th scope="col">Ordered Items</th>
              <th scope="col">Customer</th>
              <th scope="col">Total $</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let ctOrder in currentOrder) { %>
              <tr>
                <th>
                  <%= currentOrder[ctOrder]['order_id'] %>
                </th>
                <td>
                  <%= ('0'+currentOrder[ctOrder]['date'].getDate()).slice(-2) %>
                  <% switch (currentOrder[ctOrder]['date'].getMonth()) { case 0 : %>
                    Jan
                    <% break; case 1 : %>
                      Feb
                      <% break; case 2 : %>
                        Mar
                        <% break; case 3 : %>
                          Apr
                          <% break; case 4 : %>
                            May
                            <% break; case 5 : %>
                              Jun
                              <% break; case 6 : %>
                                Jul
                                <% break; case 7 : %>
                                  Aug
                                  <% break; case 8 : %>
                                    Sep
                                    <% break; case 9 : %>
                                      Oct
                                      <% break; case 10 : %>
                                        Nov
                                        <% break; case 11 : %>
                                          Dec
                                          <% break; } %>
                                            <%= currentOrder[ctOrder]['date'].getFullYear() %><br>
                  <%= ('0'+currentOrder[ctOrder]['date'].getHours()).slice(-2); %>:<%=
                      ('0'+currentOrder[ctOrder]['date'].getMinutes()).slice(-2); %>
                </td>
                <td>
                  <%= currentOrder[ctOrder]['pick_up_time']?
                    ('0'+currentOrder[ctOrder]['pick_up_time'].getHours()).slice(-2)+':'+('0'+currentOrder[ctOrder]['pick_up_time'].getMinutes()).slice(-2)
                    :'TBD';%>
                </td>
                <td>
                  <%= currentOrder[ctOrder]['order_status'] %>
                </td>
                <td>
                  <% for(let currentOrderBasket of currentOrderTotal[currentOrder[ctOrder]['order_id']]) { %>
                    <%= currentOrderBasket['item'] %>(<%= currentOrderBasket['hot'] ? 'Hot' : 'Cold' %>/<%=
                          currentOrderBasket['item_size'] %>/Spicyness:<%= currentOrderBasket['spiciness'] %>) $<%=
                              Number(currentOrderBasket['price']).toFixed(2) %><br>
                              <% } %>
                </td>
                <td>
                  <%= currentOrder[ctOrder]['name'] %><br>
                    <%= currentOrder[ctOrder]['phone'] %>
                </td>
                <td>
                  Sub Total: $<%= Number(currentOrder[ctOrder]['sum']).toFixed(2) %><br>
                    Tax@5: %$<%= (currentOrder[ctOrder]['sum'] * 0.05).toFixed(2) %><br>
                      Total: $<%= (Number(currentOrder[ctOrder]['sum'] * 0.05) +
                        Number(currentOrder[ctOrder]['sum'])).toFixed(2) %>
                </td>
                <td class="col-1">
                  <form class="row g-3">
                    <% if(currentOrder[ctOrder]['pick_up_time']){ %>
                      <button type="button" class="btn btn-primary">Ready for Pick Up</button>
                      <% } else{ %>
                  <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden">Minutes</label>
                    <input type="minutes" class="form-control" id="inputPassword2" placeholder="Minutes">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                  </div>
                </form>
                <% } %>
              </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
      <!--  -->
      <hr>
      <!-- Past Orders card -->
      <div class="pastOrderContainer d-flex flex-column m-5">
        <h2 class="pastOrderTitle w-100">Completed Orders</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Order #</th>
              <th scope="col">Order Time</th>
              <th scope="col">P/U Time</th>
              <th scope="col">Status</th>
              <th scope="col">Ordered Items</th>
              <th scope="col">Customer</th>
              <th scope="col">Total $</th>
            </tr>
          </thead>
          <tbody>
            <% for(let prevOrder in prevOrders) { %>
              <tr>
                <th>
                  <%= prevOrders[prevOrder]['order_id'] %>
                </th>
                <td>
                  <%= ('0'+prevOrders[prevOrder]['date'].getDate()).slice(-2) %>
                  <% switch (prevOrders[prevOrder]['date'].getMonth()) { case 0 : %>
                    Jan
                    <% break; case 1 : %>
                      Feb
                      <% break; case 2 : %>
                        Mar
                        <% break; case 3 : %>
                          Apr
                          <% break; case 4 : %>
                            May
                            <% break; case 5 : %>
                              Jun
                              <% break; case 6 : %>
                                Jul
                                <% break; case 7 : %>
                                  Aug
                                  <% break; case 8 : %>
                                    Sep
                                    <% break; case 9 : %>
                                      Oct
                                      <% break; case 10 : %>
                                        Nov
                                        <% break; case 11 : %>
                                          Dec
                                          <% break; } %>
                                            <%= prevOrders[prevOrder]['date'].getFullYear() %><br>
                  <%= ('0'+prevOrders[prevOrder]['date'].getHours()).slice(-2); %>:<%=
                      ('0'+prevOrders[prevOrder]['date'].getMinutes()).slice(-2); %>
                </td>
                <td>
                  <%= ('0'+prevOrders[prevOrder]['pick_up_time'].getHours()).slice(-2); %>:<%=
                      ('0'+prevOrders[prevOrder]['pick_up_time'].getMinutes()).slice(-2); %>
                </td>
                <td>
                  <%= prevOrders[prevOrder]['order_status'] %>
                </td>
                <td>
                  <% for(let prevOrderBasket of prevOrdersDetail[prevOrders[prevOrder]['order_id']]) { %>
                    <%= prevOrderBasket['item'] %>(<%= prevOrderBasket['hot'] ? 'Hot' : 'Cold' %>/<%=
                          prevOrderBasket['item_size'] %>/Spicyness:<%= prevOrderBasket['spiciness'] %>) $<%=
                              Number(prevOrderBasket['price']).toFixed(2) %><br>
                              <% } %>
                </td>
                <td>
                  <%= prevOrders[prevOrder]['name'] %><br>
                    <%= prevOrders[prevOrder]['phone'] %>
                </td>
                <td>
                  Sub Total: $<%= Number(prevOrders[prevOrder]['sum']).toFixed(2) %><br>
                    Tax@5: %$<%= (prevOrders[prevOrder]['sum'] * 0.05).toFixed(2) %><br>
                      Total: $<%= (Number(prevOrders[prevOrder]['sum'] * 0.05) +
                        Number(prevOrders[prevOrder]['sum'])).toFixed(2) %>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>

</body>

</html>
