<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Noodles Express - Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

   <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main_menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/categories.css" type="text/css" />

  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<body>
  <!-- Top Nav Bar (fixed) -->
  <nav class="top_nav">
    <span>
      <a class="title" href="/"><img src="/images/NoodleExpressLogoText.png"></a>
    </span>
    <a href="/mypage"><span class="contact">My Order</span></a>
  </nav>

  <!-- HEADER -->
  <header class="main">
    <div class="welcome">
      <h2 class="statement">Real Food, Made Fresh!</h2>
      <a href="/order"><button type="button" class="btn btn-primary w-100">Order Now</button></a>
    </div>
    <div class="logo">
      <img class="photo" src="/images/Noodles_Express_Logo.png">
    </div>
  </header>

  <main class="container">
    <section class="categories">
      <div class="category"><img id="cat_pic" src="<%= menu1.thumbnail_url %>"></div>
      <div class="category"><img id="cat_pic" src="<%= menu2.thumbnail_url %>"></div>
      <div class="category"><img id="cat_pic" src="<%= menu3.thumbnail_url %>"></div>
      <div class="category"><img id="cat_pic" src="<%= menu4.thumbnail_url %>"></div>
    </section>
    <section class="menu">
     <div class="items">
       <img id="dish_pic" src="<%= menu1.thumbnail_url %>">
       <div class="info">
        <text id="dish_name">Pork Ramen</text>
        <text id="dish_description">Chashu, Black Fungus, Egg, Green Onion</text>
        <text id="dish_price">$12</text>
      </div>
      </div>
     <div class="items">
       <img id="dish_pic" src="<%= menu2.thumbnail_url %>">
       <div class="info">
        <text id="dish_name">Veggie Ramen</text>
        <text id="dish_description">Eggplant peperoncini, croquette, bamboo shoot and green onion</text>
        <text id="dish_price">$12</text>
      </div>
      </div>
     <div class="items">
       <img id="dish_pic" src="<%= menu3.thumbnail_url %>">
       <div class="info">
        <text id="dish_name">Mushroom Noodles</text>
        <text id="dish_description">Hand pulled noodles, mushrooms, onion and carrots</text>
        <text id="dish_price">$12</text>
      </div>
      </div>
     <div class="items">
       <img id="dish_pic" src="<%= menu6.thumbnail_url %>">
       <div class="info">
        <text id="dish_name">Fried Rolls</text>
        <text id="dish_description">Fresh fried rolls, cheese and onions</text>
        <text id="dish_price">$8</text>
      </div>
      </div>
     <div class="items">
       <img id="dish_pic" src="<%= menu4.thumbnail_url %>">
       <div class="info">
        <text id="dish_name">Coke</text>
        <text id="dish_description">You know what it is</text>
        <text id="dish_price">$3</text>
      </div>
      </div>
     <div class="items">
       <img id="dish_pic" src="<%= menu5.thumbnail_url %>">
       <div class="info">
        <text id="dish_name">Strawberry Crepes</text>
        <text id="dish_description">Fresh Strawberries and whipping cream</text>
        <text id="dish_price">$5</text>
      </div>
      </div>
    </section>
  </main>
</body>

</html>
