<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- CSS Imports -->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/my_page.css" type="text/css" />


  <title>Noodles Express</title>
</head>

<body>
  <%- include('partials/_header') %>
    <div class="mainContainer m-5">
      <!-- Current Orders card -->
      <div class="currentOrderContainer d-flex flex-row m-5">
        <h2 class="currentOrderTitle w-25">Current Orders</h2>
        <div class="currentOrderCardContainer flex-column w-75">
          <% if (currentOrder)  {%>
            <h2>We have received your order! The resturant has been notified.</h2>
          <% for(let ctOrder in currentOrder) { %>
          <div class="currentOrder card mb-5">
            <h5 class="card-header">Order: #<%= currentOrder[ctOrder]['order_id'] %></h5>
            <div class="card-body d-flex">
              <div class="cardLeft w-50">
                <table class="table table-borderless">
                  <h5>Details</h5>
                  <hr>
                  <tbody>
                    <tr>
                      <th scope="col">Date</th>
                      <td> <%= ('0'+currentOrder[ctOrder]['date'].getDate()).slice(-2) %>
                        <% switch (currentOrder[ctOrder]['date'].getMonth()) {
                        case 0 : %>
                                Jan
                                <% break;
                        case 1 : %>
                                Feb
                                <% break;
                        case 2 : %>
                                Mar
                                <% break;
                        case 3 : %>
                                Apr
                                <% break;
                        case 4 : %>
                                May
                                <% break;
                        case 5 : %>
                                Jun
                                <% break;
                        case 6 : %>
                                Jul
                                <% break;
                        case 7 : %>
                                Aug
                                <% break;
                        case 8 : %>
                                Sep
                                <% break;
                        case 9 : %>
                                Oct
                                <% break;
                        case 10 : %>
                                Nov
                                <% break;
                        case 11 : %>
                                Dec
                                <% break;
                        } %>
                          <%= currentOrder[ctOrder]['date'].getFullYear() %> </td>
                    </tr>
                    <tr>
                      <th scope="col">Order Time</th>
                      <td><%= ('0'+currentOrder[ctOrder]['date'].getHours()).slice(-2); %>:<%= ('0'+currentOrder[ctOrder]['date'].getMinutes()).slice(-2); %></td>
                    </tr>
                    <tr>
                      <th scope="col">Pick Up Time</th>
                      <td><%= currentOrder[ctOrder]['pick_up_time']? ('0'+currentOrder[ctOrder]['pick_up_time'].getHours()).slice(-2)+':'+('0'+currentOrder[ctOrder]['pick_up_time'].getMinutes()).slice(-2) :'TBD';%></td>
                    </tr>
                    <tr>
                      <th scope="col">Location</th>
                      <td>1234 King Street, Vancouver, BC V1K 6S7</td>
                    </tr>
                    <tr>
                      <th scope="col">Status</th>
                      <td><%= currentOrder[ctOrder]['order_status'] %></td>
                    </tr>
                  </tbody>
                </table>
                <img id="dancing_ramen" src="images/preparing_meal.gif">
              </div>
              <div class="cardRighttable-responsive w-50">
                <table class="table">
                  <h5>Ordered Items</h5>
                  <thead>
                    <tr>
                      <th scope="col">Item</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let currentOrderBasket of currentOrderTotal[currentOrder[ctOrder]['order_id']]) { %>
                    <tr>
                      <td><%= currentOrderBasket['item'] %></td>
                      <td>$<%= Number(currentOrderBasket['price']).toFixed(2) %></td>
                    </tr>
                    <tr><td class="ps-5"> (Hot/Cold: <%=  currentOrderBasket['hot'] ? 'Hot' : 'Cold' %> / Size: <%= currentOrderBasket['item_size'] %> / Spiciness: <%= currentOrderBasket['spiciness'] %>)</td><td></td></tr>
                    <% } %>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-end">Sub-Total</td>
                      <td>$<%= Number(currentOrder[ctOrder]['sum']).toFixed(2) %></td>
                    </tr>
                    <tr>
                      <td class="text-end">Tax@5%</td>
                      <td>$<%= (currentOrder[ctOrder]['sum'] * 0.05).toFixed(2) %></td>
                    </tr>
                    <tr>
                      <td class="text-end">Total</td>
                      <td>$<%= (Number(currentOrder[ctOrder]['sum'] * 0.05) + Number(currentOrder[ctOrder]['sum'])).toFixed(2) %></td>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
          </div>
          <% } %>
          <% }  else {%>
              You have no current orders.
          <% } %>
        </div>
      </div>
      <!--  -->
      <hr>
      <!-- Past Orders card -->
      <div class="pastOrderContainer d-flex flex-row m-5">
        <h2 class="pastOrderTitle w-25">Past Orders</h2>
        <div class="pastOrderCardContainer flex-column w-75">
          <% if (prevOrders)  {%>
          <% for(let prevOrder in prevOrders) { %>
          <div class="pastOrder card mb-5">
            <h5 class="card-header">Order: #<%= prevOrders[prevOrder]['order_id'] %></h5>
            <div class="card-body d-flex">
              <div class="cardLeft w-50">
                <table class="table table-borderless">
                  <h5>Details</h5>
                  <tbody>
                    <tr>
                      <th scope="col">Date</th>
                      <td> <%= ('0'+prevOrders[prevOrder]['date'].getDate()).slice(-2) %>
                        <% switch (prevOrders[prevOrder]['date'].getMonth()) {
                        case 0 : %>
                                Jan
                                <% break;
                        case 1 : %>
                                Feb
                                <% break;
                        case 2 : %>
                                Mar
                                <% break;
                        case 3 : %>
                                Apr
                                <% break;
                        case 4 : %>
                                May
                                <% break;
                        case 5 : %>
                                Jun
                                <% break;
                        case 6 : %>
                                Jul
                                <% break;
                        case 7 : %>
                                Aug
                                <% break;
                        case 8 : %>
                                Sep
                                <% break;
                        case 9 : %>
                                Oct
                                <% break;
                        case 10 : %>
                                Nov
                                <% break;
                        case 11 : %>
                                Dec
                                <% break;
                        } %>
                          <%= prevOrders[prevOrder]['date'].getFullYear() %> </td>
                    </tr>
                    <tr>
                      <th scope="col">Order Time</th>
                      <td><%= ('0'+prevOrders[prevOrder]['date'].getHours()).slice(-2); %>:<%= ('0'+prevOrders[prevOrder]['date'].getMinutes()).slice(-2); %></td>
                    </tr>
                    <tr>
                      <th scope="col">Pick Up Time</th>
                      <td><%= ('0'+prevOrders[prevOrder]['pick_up_time'].getHours()).slice(-2); %>:<%= ('0'+prevOrders[prevOrder]['pick_up_time'].getMinutes()).slice(-2); %></td>
                    </tr>
                    <tr>
                      <th scope="col">Location</th>
                      <td>1234 King Street, Vancouver, BC V1K 6S7</td>
                    </tr>
                    <tr>
                      <th scope="col">Status</th>
                      <td><%= prevOrders[prevOrder]['order_status'] %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="cardRighttable-responsive w-50">
                <table class="table">
                  <h5>Ordered Items</h5>
                  <thead>
                    <tr>
                      <th scope="col">Item</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let prevOrderBasket of prevOrdersDetail[prevOrders[prevOrder]['order_id']]) { %>
                    <tr>
                      <td><%= prevOrderBasket['item'] %></td>
                      <td>$<%= Number(prevOrderBasket['price']).toFixed(2) %></td>
                    </tr>
                    <tr><td class="ps-5">(Hot/Cold: <%=  prevOrderBasket['hot'] ? 'Hot' : 'Cold' %> / Size: <%= prevOrderBasket['item_size'] %> / Spiciness: <%= prevOrderBasket['spiciness'] %>)</td><td></td></tr>
                    <% } %>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-end">Sub-Total</td>
                      <td>$<%= Number(prevOrders[prevOrder]['sum']).toFixed(2) %></td>
                    </tr>
                    <tr>
                      <td class="text-end">Tax@5%</td>
                      <td>$<%= (prevOrders[prevOrder]['sum'] * 0.05).toFixed(2) %></td>
                    </tr>
                    <tr>
                      <td class="text-end">Total</td>
                      <td>$<%= (Number(prevOrders[prevOrder]['sum'] * 0.05) + Number(prevOrders[prevOrder]['sum'])).toFixed(2) %></td>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
          </div>
          <% } %>
          <% }  else {%>
              You have no past orders.
          <% } %>
        </div>
      </div>
    </div>

</body>
<footer>
  <div>
    <p>CONTACT</p>
    <p>ADDRESS</p>
    <p>FAQ</p>
    <p>ABOUT US</p>
  </div>
  <div>
    <p>Noodles Express</p>
  </div>
</footer>

</html>
